1_DataScience_20_Case_Studies/7_AnB_Price_Predcition/sydney_airbnb.csv
1_DataScience_20_Case_Studies/11_Product_Anlaytics/ecommerce_data.csv
1_DataScience_20_Case_Studies/11_Product_Anlaytics/20.0 Case Study 10 - Product and Retail Analytics -  Exploratory Data Analysis.ipynb
1_DataScience_20_Case_Studies/11_Product_Anlaytics/retail_sales.csv
1_DataScience_20_Case_Studies/11_Product_Anlaytics/.ipynb_checkpoints/20.0 Case Study 10 - Product and Retail Analytics -  Exploratory Data Analysis-checkpoint.ipynb
1_DataScience_20_Case_Studies/11_Product_Anlaytics/tmp/tempfile.zip
3_Sklearn/4_Carsales/sklearn - Linear Regression - Practical Example (Part 1).ipynb
3_Sklearn/4_Carsales/sklearn - Linear Regression - Practical Example (Part 1)_with_comments.ipynb
3_Sklearn/4_Carsales/.ipynb_checkpoints/sklearn - Linear Regression - Practical Example (Part 1)-checkpoint.ipynb
1_DataScience_20_Case_Studies/13_Kmeans_Elbow_Silhoute/22.1 K-Means, Elbow Method and Silhouette Analysis.ipynb
1_DataScience_20_Case_Studies/13_Kmeans_Elbow_Silhoute/.ipynb_checkpoints/22.1 K-Means, Elbow Method and Silhouette Analysis-checkpoint.ipynb
3_Sklearn/4_Carsales/.ipynb_checkpoints/sklearn - Linear Regression - Practical Example (Part 1)_with_comments-checkpoint.ipynb
1_DataScience_20_Case_Studies/14_Customer_Clusterning/CustomerClusterning.ipynb
