1_DataScience_20_Case_Studies/7_AnB_Price_Predcition/sydney_airbnb.csv
1_DataScience_20_Case_Studies/11_Product_Anlaytics/ecommerce_data.csv
1_DataScience_20_Case_Studies/11_Product_Anlaytics/20.0 Case Study 10 - Product and Retail Analytics -  Exploratory Data Analysis.ipynb
1_DataScience_20_Case_Studies/11_Product_Anlaytics/retail_sales.csv
1_DataScience_20_Case_Studies/11_Product_Anlaytics/.ipynb_checkpoints/20.0 Case Study 10 - Product and Retail Analytics -  Exploratory Data Analysis-checkpoint.ipynb
1_DataScience_20_Case_Studies/11_Product_Anlaytics/tmp/tempfile.zip
3_Sklearn/4_Carsales/sklearn - Linear Regression - Practical Example (Part 1).ipynb
3_Sklearn/4_Carsales/sklearn - Linear Regression - Practical Example (Part 1)_with_comments.ipynb
3_Sklearn/4_Carsales/.ipynb_checkpoints/sklearn - Linear Regression - Practical Example (Part 1)-checkpoint.ipynb
1_DataScience_20_Case_Studies/13_Kmeans_Elbow_Silhoute/22.1 K-Means, Elbow Method and Silhouette Analysis.ipynb
1_DataScience_20_Case_Studies/13_Kmeans_Elbow_Silhoute/.ipynb_checkpoints/22.1 K-Means, Elbow Method and Silhouette Analysis-checkpoint.ipynb
3_Sklearn/4_Carsales/.ipynb_checkpoints/sklearn - Linear Regression - Practical Example (Part 1)_with_comments-checkpoint.ipynb
1_DataScience_20_Case_Studies/14_Customer_Clusterning/CustomerClusterning.ipynb
1_DataScience_20_Case_Studies/14_Customer_Clusterning/.ipynb_checkpoints/CustomerClusterning-checkpoint.ipynb
7_AI_Project/1_Car_Sales/Project 1 - Car Purchase Amount Predictions Using ANNs.ipynb
7_AI_Project/2_cifar/Project 2 - CiFAR-10 Images Classification Using CNNs.ipynb
7_AI_Project/3_FB_prophet/Chicago_Crimes_2001_to_2004.csv
7_AI_Project/3_FB_prophet/Chicago_Crimes_2005_to_2007.csv
7_AI_Project/3_FB_prophet/Chicago_Crimes_2008_to_2011.csv
7_AI_Project/3_FB_prophet/Chicago_Crimes_2012_to_2017.csv
7_AI_Project/3_FB_prophet/Project 3 - Predict Crime Rate in Chicago.ipynb
